/* .box{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

.purple{
    background-color: aqua;
}

.yello{
    background-color: yellow;
}
 */

/* body{
    font-family: "Do Hyeon", sans-serif;
}
.bar{
    width: 100px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    padding-top: 20px;
}

.newbar{
    width: 100px;
    height: 50px;
    background-color: rgb(121, 168, 90);
    text-align: center;
    padding-top: 20px;
    display: none;
}

.show{
    display: block;
}
 */

 .tab-content {
     display: none;
     padding: 10px;
 }

 .here {
     border-top: 1px solid white;
     border-left: 1px solid white;
     border-right: 1px solid white;
     border-bottom: 2px solid #ff9e1b;
     color: black;
     margin-top: -2px;
 }

 .show{
     display: block;
 }
