@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,h1,h2 {
    margin:0px;
    padding:0px;
}


body {
    min-width: fit-content;
    background-color: #898786;
}

h1 {
    font-size:36px;
    font-weight: bold;
    text-align:left;
}


h2 {
    font-size:20px;
    color:#282828;
    font-weight: lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    padding-top:8px;
}

.name-text {
    font-size:16px;
    color:#3B3431;
    font-weight: bold;
    text-align: right;
}

.about-me-text {
    font-size:10px;
    line-height: 16px;
}

.mainbox {
    display:flex;
    flex-direction: row;
    width: 600px;
    padding: 10px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-box {
    text-align: left;
    width : 30%;
    height: 985px;
    float : left;

    margin:auto;
}


.right{
  margin-bottom:24px;
  width : 70%
  float:right;
  padding-left:30px;

  border-left : 1px solid black;
  margin:auto;
}

.float-wrap {
    overflow: hidden;
}

.title-text {
    font-size:11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text{
    font-size:11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.desc-text {
    font-size: 9px;
}

.desc-subtext {
    font-size: 9px;
    color:#282828;
    padding-left:16px;
}

.sns-img {
    width:12px;
    height:12px;
}

.sns-wrap {
    text-align:right;
    margin-bottom:10px;
}

.myface{
  width : 160px;
  height : 300px;
  text-align: center;
}

footer {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    font-size: 12px;
    color: #919191;
}
