<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>입력창</title>
    </head>

    <body>
        <h1>로또 번호 추출기</h1>
        <p>로또번호를 받아보세요!<p>
        <p>몇개의 게임을 뽑으시겠습니까?</p>
        
        <form action="/lotto/result/">
        <input type="number" name="count"> <input type = "submit" value = "로또 번호 추출기">
        </form>
        
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    </body>
</html>