/* .box{
    width:100px;
    height:50px;
    border-radius: 10px;
    border:2px solid black;
}

.purple{
    background-color: blueviolet;
}

.yellow{
    background-color: yellow;
} */
/* 
.bar{
    width:100px;
    height:50px;
    background-color: blueviolet;
    text-align: center;
    padding-top:20px;
}
.newBar{
    width:100px;
    height:50px;
    background-color: orange;
    text-align: center;
    padding-top:20px;
    display:none; 
}

.show{
    display: block;
} */

ul.list{
    list-style: none;
    margin:0;
    padding:0;
    border-bottom:1px solid #ccc;
}

ul.list::after{
    content:"";
    display:block;
    clear:both;
}

.tab-button{
    display:none;
    padding:10px 20px 10px 20px;
    float:left;
    margin-right:-1px;
    margin-bottom:-1px;
    color:gray;
    text-decoration:none;
    cursor:pointer;
}

.tab-content{
    display:none;
    padding:10px;
}
.tap-content img{
    width:70%;
}
.here{
    border-top:1px solid white;
    border-left:1px solid white;
    border-right:1px solid white;
    border-bottom:2px solid orange;
    color:black;
    margin-top:-2px;


}

.show{
    display:block

}
